<!-- TODO: Alignment -->
<ion-grid>
  <ion-row align-self-center>
    <ion-col align-self-center>
    <!-- TODO: Fetch image off project -->
      <img src="https://d3n8a8pro7vhmx.cloudfront.net/yeu/pages/931/attachments/original/1584647692/covid_19_icon.png" style="max-height: 150px;">
          
      <br> 

      <ion-title size="large">Desafio COVID-19</ion-title>

      <br>

      <ion-button shape = "round" fill = "outline" expand = "block">
        <ion-icon name="logo-facebook"></ion-icon>
        <label>Ingresa con Facebook</label>
      </ion-button>

      <ion-button shape = "round" fill = "outline" expand = "block">
        <ion-icon name="logo-google"></ion-icon>
        <label>Ingresa con Google</label>
      </ion-button>

      <ion-button shape = "round" fill = "outline" expand = "block">
        <ion-icon name="logo-twitter"></ion-icon>
        <label>Ingresa con Twitter</label>
      </ion-button>

       <br>

      <ion-note >#MeQuedoEnCasa</ion-note>
    </ion-col>
  </ion-row>
</ion-grid>